<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mandala1</key>
		<array>
			<string>mandala1</string>
			<string>mandala2</string>
			<string>mandala21</string>
			<string>mandala24</string>
			<string>mandala40</string>
			<string>mandala41</string>
			<string>mandala39</string>
			<string>mandala43</string>
			<string>mandala46</string>
			<string>mandala85</string>
			<string>mandala87</string>
			<string>mandala106</string>
			<string>mandala137</string>
			<string>mandala138</string>
			<string>mandala139</string>
			<string>mandala140</string>
			<string>mandala141</string>
			<string>mandala142</string>
			<string>mandala143</string>
			<string>mandala144</string>
			<string>mandala156</string>
			<string>mandala162</string>
			<string>mandalaAdcolb28</string>
			<string>mandalaR6_1</string>
			<string>mandalaR6_2</string>
			<string>mandalaR6_8</string>
			<string>mandalaR6_9</string>
			<string>mandalaR6_10</string>
			<string>mandalaR6_11</string>
			<string>mandalaR6_12</string>
			<string>mandalaR10_32</string>
		</array>
	</dict>
	<dict>
		<key>mandala2</key>
		<array>
			<string>mandala3</string>
			<string>mandala4</string>
			<string>mandala22</string>
			<string>mandala25</string>
			<string>mandala42</string>
			<string>mandala58</string>
			<string>mandala60</string>
			<string>mandala44</string>
			<string>mandala45</string>
			<string>mandala47</string>
			<string>mandala88</string>
			<string>mandala89</string>
			<string>mandala108</string>
			<string>mandala146</string>
			<string>mandala147</string>
			<string>mandala148</string>
			<string>mandala149</string>
			<string>mandala150</string>
			<string>mandala151</string>
			<string>mandala152</string>
			<string>mandala153</string>
			<string>mandalaR6_13</string>
			<string>mandalaR6_14</string>
			<string>mandalaR6_15</string>
			<string>mandalaR6_16</string>
			<string>mandalaR6_17</string>
			<string>mandalaR6_18</string>
			<string>mandalaR6_19</string>
			<string>mandalaR6_20</string>
			<string>mandalaR7_1</string>
			<string>mandalaR7_2</string>
			<string>mandalaR10_33</string>
		</array>
	</dict>
	<dict>
		<key>mandala3</key>
		<array>
			<string>mandala5</string>
			<string>mandala6</string>
			<string>mandala23</string>
			<string>mandala28</string>
			<string>mandala48</string>
			<string>mandala49</string>
			<string>mandala51</string>
			<string>mandala52</string>
			<string>mandala61</string>
			<string>mandala63</string>
			<string>mandala90</string>
			<string>mandala92</string>
			<string>mandala109</string>
			<string>mandala155</string>
			<string>mandala157</string>
			<string>mandala158</string>
			<string>mandala159</string>
			<string>mandala160</string>
			<string>mandala161</string>
			<string>mandala163</string>
			<string>mandala164</string>
			<string>mandalaR7_3</string>
			<string>mandalaR7_4</string>
			<string>mandalaR7_5</string>
			<string>mandalaR7_6</string>
			<string>mandalaR7_7</string>
			<string>mandalaR7_8</string>
			<string>mandalaR7_9</string>
			<string>mandalaR7_10</string>
			<string>mandalaR7_11</string>
			<string>mandalaR7_12</string>
			<string>Update_3_0_1</string>
		</array>
	</dict>
	<dict>
		<key>mandala4</key>
		<array>
			<string>mandala7</string>
			<string>mandala8</string>
			<string>mandala26</string>
			<string>mandala29</string>
			<string>mandala103</string>
			<string>mandala107</string>
			<string>mandala110</string>
			<string>mandala53</string>
			<string>mandala64</string>
			<string>mandala65</string>
			<string>mandala93</string>
			<string>mandala94</string>
			<string>mandala166</string>
			<string>mandala167</string>
			<string>mandala168</string>
			<string>mandala169</string>
			<string>mandala170</string>
			<string>mandala171</string>
			<string>mandala172</string>
			<string>mandala173</string>
			<string>mandalaR7_13</string>
			<string>mandalaR7_14</string>
			<string>mandalaR7_15</string>
			<string>mandalaR7_16</string>
			<string>mandalaR7_17</string>
			<string>mandalaR7_18</string>
			<string>mandalaR7_19</string>
			<string>mandalaR7_20</string>
			<string>mandalaR7_21</string>
			<string>mandalaR7_22</string>
			<string>Update_3_0_2</string>
		</array>
	</dict>
	<dict>
		<key>mandala5</key>
		<array>
			<string>mandala9</string>
			<string>mandala10</string>
			<string>mandala27</string>
			<string>mandala31</string>
			<string>mandala81</string>
			<string>mandala86</string>
			<string>mandala91</string>
			<string>mandala54</string>
			<string>mandala67</string>
			<string>mandala68</string>
			<string>mandala95</string>
			<string>mandala96</string>
			<string>mandala175</string>
			<string>mandala176</string>
			<string>mandala177</string>
			<string>mandala178</string>
			<string>mandala179</string>
			<string>mandala180</string>
			<string>mandalaAdcolb17</string>
			<string>mandalaAdcolb18</string>
			<string>mandalaR7_23</string>
			<string>mandalaR7_24</string>
			<string>mandalaR7_25</string>
			<string>mandalaR7_26</string>
			<string>mandalaR7_27</string>
			<string>mandalaR8_6</string>
			<string>mandalaR8_7</string>
			<string>mandalaR8_8</string>
			<string>mandalaR8_9</string>
			<string>mandalaR8_10</string>
			<string>Update_3_0_3</string>
		</array>
	</dict>
	<dict>
		<key>mandala6</key>
		<array>
			<string>mandala11</string>
			<string>mandala12</string>
			<string>mandala30</string>
			<string>mandala32</string>
			<string>mandala74</string>
			<string>mandala76</string>
			<string>mandala83</string>
			<string>mandala55</string>
			<string>mandala69</string>
			<string>mandala71</string>
			<string>mandala97</string>
			<string>mandala98</string>
			<string>mandalaAdcolb20</string>
			<string>mandalaAdcolb21</string>
			<string>mandalaAdcolb22</string>
			<string>mandalaAdcolb23</string>
			<string>mandalaAdcolb24</string>
			<string>mandalaAdcolb25</string>
			<string>mandalaAdcolb26</string>
			<string>mandalaAdcolb27</string>
			<string>mandalaR8_11</string>
			<string>mandalaR8_12</string>
			<string>mandalaR8_13</string>
			<string>mandalaR8_14</string>
			<string>mandalaR8_15</string>
			<string>mandalaR8_16</string>
			<string>mandalaR8_17</string>
			<string>mandalaR8_18</string>
			<string>mandalaR8_19</string>
			<string>mandalaR8_20</string>
			<string>Update_3_0_4</string>
		</array>
	</dict>
	<dict>
		<key>mandala7</key>
		<array>
			<string>mandala13</string>
			<string>mandala14</string>
			<string>mandala35</string>
			<string>mandala33</string>
			<string>mandala66</string>
			<string>mandala70</string>
			<string>mandala72</string>
			<string>mandala57</string>
			<string>mandala75</string>
			<string>mandala77</string>
			<string>mandala99</string>
			<string>mandala100</string>
			<string>mandalaAdcolb30</string>
			<string>mandalaAdcolb31</string>
			<string>mandalaAdcolb32</string>
			<string>mandalaR10_1</string>
			<string>mandalaR10_2</string>
			<string>mandalaR10_3</string>
			<string>mandalaR10_4</string>
			<string>mandalaR10_5</string>
			<string>mandalaR10_6</string>
			<string>mandalaR10_7</string>
			<string>mandalaR10_8</string>
			<string>mandalaR10_9</string>
			<string>mandalaR10_10</string>
			<string>mandalaR1121</string>
			<string>mandalaR1122</string>
			<string>mandalaR1123</string>
			<string>mandalaR1124</string>
			<string>mandalaR1125</string>
			<string>Update_3_0_5</string>
		</array>
	</dict>
	<dict>
		<key>mandala8</key>
		<array>
			<string>mandala15</string>
			<string>mandala16</string>
			<string>mandala37</string>
			<string>mandala34</string>
			<string>mandala62</string>
			<string>mandala73</string>
			<string>mandala80</string>
			<string>mandala38</string>
			<string>mandala78</string>
			<string>mandala79</string>
			<string>mandala101</string>
			<string>mandala102</string>
			<string>mandalaR10_11</string>
			<string>mandalaR10_12</string>
			<string>mandalaR10_13</string>
			<string>mandalaR10_14</string>
			<string>mandalaR10_15</string>
			<string>mandalaR10_16</string>
			<string>mandalaR10_17</string>
			<string>mandalaR10_18</string>
			<string>mandalaR10_19</string>
			<string>mandalaR10_21</string>
			<string>mandalavol14_2</string>
			<string>mandalavol14_3</string>
			<string>mandalavol14_4</string>
			<string>mandalavol14_5</string>
			<string>mandalavol14_6</string>
			<string>mandalavol14_7</string>
			<string>mandalavol14_12</string>
			<string>mandalavol14_13</string>
			<string>Update_3_0_6</string>
		</array>
	</dict>
	<dict>
		<key>mandala9</key>
		<array>
			<string>mandala17</string>
			<string>mandala18</string>
			<string>mandala19</string>
			<string>mandala20</string>
			<string>mandala36</string>
			<string>mandala50</string>
			<string>mandala56</string>
			<string>mandala59</string>
			<string>mandala82</string>
			<string>mandala84</string>
			<string>mandala104</string>
			<string>mandala105</string>
			<string>mandala136</string>
			<string>mandala145</string>
			<string>mandala154</string>
			<string>mandala165</string>
			<string>mandala174</string>
			<string>mandalaAdcolb19</string>
			<string>mandalaAdcolb29</string>
			<string>mandalaR10_22</string>
			<string>mandalaR10_23</string>
			<string>mandalaR10_24</string>
			<string>mandalaR10_25</string>
			<string>mandalaR10_26</string>
			<string>mandalaR10_27</string>
			<string>mandalaR10_28</string>
			<string>mandalaR10_29</string>
			<string>mandalaR10_30</string>
			<string>mandalaR10_31</string>
			<string>mandalavol14_1</string>
			<string>Update_3_0_7</string>
			<string>Update_3_0_8</string>
		</array>
	</dict>
</array>
</plist>
